.Main {
  margin: 50px 100px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 10px gray;
}

h3,
p {
  margin: 10px 10px;
}
ul {
  display: flex;
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.Skills li {
  margin-left: 5px;
  background-color: gray;
  border-radius: 5px;
  padding: 2px 5px;
}

.Links li {
  margin: 10px;
}
